{% extends 'layouts/base.html' %}

{% block content %}
{% include 'components/categories-left.html' %}
<div class="col-9 main">
    <h3 class="bold">Овощной прилавок</h3>
    <div class="mt-sm-3">
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Самый сезон' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2756334/851694aea0674438a84ddbcb56cb48dd/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Самый сезон</div>
                </div>
            </a>
        </div>
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Овощи, грибы и зелень' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2805921/60bf165e315141eaa8e98a6b6f9efaed/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Овощи, грибы и зелень</div>
                </div>
            </a>
        </div>
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Фрукты и ягоды' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2791769/06dea09f916a4027b65fdc9f565d1e80/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Фрукты и ягоды</div>
                </div>
            </a>
        </div>
    </div>
    <h3 class="bold">Молочный прилавок</h3>
    <div class="mt-sm-3">
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Молоко, масло и яйца' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2791769/d9f21dd962f549999b474606da740736/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Молоко, масло и яйца</div>
                </div>
            </a>
        </div>
        <div class="min-container">
            <a href="{% url 'categories' category_name='Сыры' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2791769/4bc7e61b2a20415c85f5ca6358bb3a3e/280x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Сыры</div>
                </div>
            </a>
        </div>
        <div class="min-container">
            <a href="{% url 'categories' category_name='Кефир, сметана, творог' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2998515/fd4079d992a94565bd0cdb5018529821/280x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Кефир, сметана, творог</div>
                </div>
            </a>
        </div>
        <div class="min-container">
            <a href="{% url 'categories' category_name='Йогурты и десерты' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2783132/1d57d7e70e504c0c89689d37f675309c/280x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Йогурты и десерты</div>
                </div>
            </a>
        </div>
        <div class="min-container">
            <a href="{% url 'categories' category_name='Молочное для детей' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2750890/a410575109ae4d40aa79b83eaaa261e5/280x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Молочное для детей</div>
                </div>
            </a>
        </div>
    </div>
    <h3 class="bold">Булочная</h3>
    <div class="mt-sm-3">
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Хлеб' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2791769/f9f52780f8964135886e9d9c7d45a053/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Хлеб</div>
                </div>
            </a>
        </div>
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Выпечка' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2791769/7663001bf3fa4794a595841e541f74c2/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Выпечка</div>
                </div>
            </a>
        </div>
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Хлебцы' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2998515/98830eb076844d15b4a251acf6c8ab54/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Хлебцы</div>
                </div>
            </a>
        </div>
    </div>
    <h3 class="bold">Вода и напитки</h3>
    <div class="mt-sm-3">
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Вода' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2888787/12e5ddeeef7a4a63a0a472225e7d324c/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Вода</div>
                </div>
            </a>
        </div>
        <div class="min-container">
            <a href="{% url 'categories' category_name='Соки и морсы' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2888787/56963bd6a6a345c894e550af07449e42/280x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Соки и морсы</div>
                </div>
            </a>
        </div>
        <div class="min-container">
            <a href="{% url 'categories' category_name='Газировка и тоники' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2783132/9c0ad0fee3294bc9846602dc4e1b1f27/280x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Газировка и тоники</div>
                </div>
            </a>
        </div>
        <div class="min-container">
            <a href="{% url 'categories' category_name='Холодный чай и кофе' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2805921/0298fa4a1cae405cbfaa67ad518ba330/280x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Холодный чай и кофе</div>
                </div>
            </a>
        </div>
        <div class="min-container">
            <a href="{% url 'categories' category_name='Энергетики, пиво и вино' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2888787/be88f20f5a6240c09a921875aa2983e6/280x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Энергетики, пиво и вино</div>
                </div>
            </a>
        </div>
    </div>
    <h3 class="bold">Мясо, птица, рыба</h3>
    <div class="mt-sm-3">
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Мясо и птица' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2888787/09f351d9c6b149a093ffbd4829b84dc1/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Мясо и птица</div>
                </div>
            </a>
        </div>
        <div class="min-container">
            <a href="{% url 'categories' category_name='Колбаса и сосиски' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2783132/6fdade490b6b4b18aa1ad4ca206d11e9/280x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Колбаса и сосиски</div>
                </div>
            </a>
        </div>
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Рыба и морепродукты' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2888787/0e105bafe9cb40ef9b16ce5b186fd2a6/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Рыба и морепродукты</div>
                </div>
            </a>
        </div>
        <div class="min-container">
            <a href="{% url 'categories' category_name='Закуски и паштеты' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2998515/272b93f588044a88a662e2a50b695ff8/280x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Закуски и паштеты</div>
                </div>
            </a>
        </div>
    </div>
    <h3 class="bold">Заморозка</h3>
    <div class="mt-sm-3">
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Пельмени и вареники' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2750890/01d99a2c75824f099f815ec92b3a6176/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Пельмени и вареники</div>
                </div>
            </a>
        </div>
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Овощи и ягоды' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2791769/7d2f9fabd08746f9bc0c88da29f88349/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Овощи и ягоды</div>
                </div>
            </a>
        </div>
        <div class="normal-container">
            <a href="{% url 'categories' category_name='Рыба и морепродукты' %}">
                <div style="position: relative;">
                    <img class="vegetable-image"
                         src="https://yastatic.net/avatars/get-grocery-goods/2888787/8ef0021246e44028b1b28e66d63e0493/576x280-webp"
                         alt="Vegetables, mushrooms, and greens">
                    <div class="overlay-text">Рыба и морепродукты</div>
                </div>
            </a>
        </div>
    </div>
</div>
{% include 'components/shopping-cart.html' %}
{% endblock %}